* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.section-1, .section-2, .section-3 {
    display: flex;
    flex-direction: column;
    height: 450px;
}

/* SECTION 1 STYLES */
.section-1 {
    background-color: #1F2937; 
    color: white;
}

.section-1 .header {
    display: flex;
    justify-content: space-between;
    padding: 16px 100px;
    padding-bottom: 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.section-1 .body {
    display: flex;
    padding: 8px 100px;
    gap: 32px;
}

.section-1 .body .left-side {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-1 .title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.section-1 .text {
    font-size: 18px;
    color: #E5E7EB;
}

.section-1 .button {
    border-radius: 10px;
    background-color: #3882F6;
    margin: 8px 0px;
    padding: 8px;
    width: 64px;
    text-align: center;
}

.section-1 img {
    height: 150px;
    width: 250px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
}

a {
   color: #E5E7EB;
   text-decoration: none;
   font-size: 18px;
}

/* SECTION 2 STYLES */
.section-2 {
    align-items: center;
    justify-content: center;
}

.section-2 .text {
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
    margin: 32px 0px;
}

.section-2 .image-text {
    display: flex;
    margin: 8px 100px;
    gap: 32px;
}

.section-2 .card { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}

.section-2 img {
    display: flex;
    height: 100px;
    width: 150px;
    border-radius: 10px;
}

.section-2 .desc {
    text-align: center;
    margin: 8px 0px;
    font-size: 18px;
    color: #838383;
    max-width: 150px;
}   

/* SECTION 3 STYLES */
.section-3 {
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
}

.section-3 .quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    text-align: justify;
    margin: 0px 100px;
}

.section-3 .quote-origin {
    display: flex;
    width: 674px;
    justify-content: right;
    font-weight:800
}

/* SECTION 4 STYLES */

.section-4 {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4 .container {
    display: flex;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 32px 100px;
    justify-content: space-between;
    gap: 64px;
}

.section-4 .header {
    font-size: 20px;
    font-weight: bolder;
}

.section-4 .body {
    font-size: 12px;
}

.section-4 .left-side {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-4 .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px 8px;
}

/* footer style */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 32px 0;
    text-align: center;
    font-weight: 100;
}